@CHARSET "UTF-8";


#stylised {
	background: #FFF5EE;
	width: 90%;
	margin-top: 40px;
	margin-bottom: 40px;
	padding: 20px;
	align: center;
}

#stylised h1, .faq h1 {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 8px;
}

#stylised p {
	font-size: 11px;
	color: #666666;
	margin-bottom: 20px;
	border-bottom: solid 1px #b7ddf2;
	padding-bottom: 10px;
}

#stylised label {
	display: block;
	font-weight: bold;
	text-align: right;
	width: 140px;
	float: left;
}

#stylised .small {
	color: #666666;
	display: block;
	font-size: 11px;
	font-weight: normal;
	text-align: right;
	width: 100px;
}

#stylised hr, .faq hr {
	width: auto;
	border: solid 1px #38B0DE;
	background-color: #38B0DE;
}

#stylised h1, .faq h1 {
	font-size: 30px;
	color: black;
}

.form {
	margin-top: 80px;
	width: 800px;
	margin-left: 50px;
	margin-top: 50px;
}

.faq {
	padding: 20px;
	background-color: #FFF5EE;
}

.faq td {
	padding: 30px;
	background: transparent;
	border-bottom: 1px solid #FFCCFF;
	color: #000000;
	border-top: 1px solid transparent;
	font-size: 17px;
}

.faq tr:hover td {
	background: #CCFFFF;
	color: #339;
}
